

/* Start:/bitrix/components/bitrix/map.google.system/templates/.default/style.css?176242821630*/
.bx-google-map {color: black;}
/* End */
/* /bitrix/components/bitrix/map.google.system/templates/.default/style.css?176242821630 */
